

.projectContainer {
    display: flex;
    flex-direction: row;
}

.project {
    height: 100%;
    width: 100%;
}

.buttonSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.taskContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.todoElement {
    margin: 1rem;
    width: 120px;
    height: 170px;
    border: 2px solid black;
}

#desc {
    width: 10rem;
    height: 5rem;
}


