.project {
    border: 1px solid black;
}

.projectContainer {
    display: flex;
    flex-direction: row;
}

.project {
    height: 15rem;
    width: 33.3%;
    border: 1px solid black;
}

#desc {
    width: 10rem;
    height: 5rem;
}